#juno ignore 
/JunoWorkspace/.metadata/
/JunoWorkspace/Servers/
/JunoWorkspace/integration_sh/.settings/

#myeclipse ignore
/MyEclipseWorkspace/.metadata/
/MyEclipseWorkspace/Servers/

#mars ignore
/Mars/.metadata/
/Mars/Servers/